@font-face {
    font-family: ligth;
    src: url(font/MyriadPro-Light.otf);
}
@font-face {
    font-family: regular;
    src: url(font/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: italica;
    src: url(font/MYRIADPRO-SEMIBOLDIT.OTF);
}
html{
    scroll-behavior:smooth;

}
body{
    margin: 0%;
    font-family: regular;
}
.principal {
    width: 100vw;
    max-width: 1920px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.parte1 {
    width: 100vw;
    max-width: 1920px;
    height: 11rem;
    background-color: #3864cc;
    color: white;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}
#check{
    display: none
}
.lado1P1{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lado1P2{
    display: none;
}
.lado1P3{
    display: none;
    background: #a2c5ee;
}
#menu{
    width: 2.13rem;
    height: 2.14rem;
}
.parte1 a{
    font-size: 2.12rem;
    color: white;
    text-decoration: none;
}
.govColombia {
    width: 21.813rem;
    height: 4.313rem;
}
.consultar {
    color: black;
    background-color: white;
    width: 15.5rem;
    height: 3.68rem;
    align-content: center;
    text-align: center;
    border-radius: 1.87rem ;
}
#espacio {
    width: 100%;
    height: 10.875rem;
}

.parte2 {
    background-image: url(img/Fondo@2x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
    transition: 3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.parte2Lado1 {
    width: 39.5rem;
    height: 50rem;
    background-color: white;
    border-radius: 1.87rem;
    padding: 1.938rem 2.75rem;
    margin: 1.5rem;
}
.text1 {
    text-align: center;
    padding:0 5rem;
    margin: auto;
    margin-bottom: 1rem;
}

.text1 span{
    font-size: 2.5rem;
}

.parte2Lado1 label{
    font-size: 1rem;
}
.parte2Lado1 input{
    width: 99%;
    height: 2.688rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#fechaExpedicion{
    width: 99%;
    height: 2.8rem;
}
.parte2Lado1 select{
    margin-bottom: 1rem;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}
#envioFormulario{
    background-color:#157FFB;
    border: none;
    color: white;
    height: 3.3rem;
    width: 13.063rem;
    margin-top: 1.5rem;
    margin-left: 13rem;
    border-radius: 1.87rem ;
}
#parte2Lado2 {
    width: 43.75rem;
    font-family: ligth;
    text-align: center;
}
#text2{
    font-size: 3.43rem;
}
#text3{
    font-size: 1.87rem;
}
#conocerMas{
    background-color:#157FFB;
    border: none;
    color: white;
    font-size: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 13.063rem;
    margin: auto;
    border-radius: 1.87rem ;
    text-decoration: none;
}
.parte3 {
    text-align: center;
    margin-top: 11.8rem;
    font-size: 2.18rem;
    font-family: ligth;
}
#queEs{
    font-size: 3.43rem;
    font-family: regular;
    margin: 0%;
}
#divicionP3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#diseñoST{
    width: 41.43rem;
    padding-bottom: 6rem;
}
.contenidoDivP3{
    width: 43rem;
}
#conocerEtapas{
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}
#imgConocerEtapas{
    width: 1.5rem;
}
.parte4 {
    padding-top: 3rem;
    text-align: center;
    font-family: ligth;
}
#pregutasFrecuentes{
    margin-top: 3rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}
#etapaEntrega{
    font-size: 3.45rem;
    margin: 0%;
}
#etapas{
    display: flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
}
#etapas div{
    justify-content:center ;
}
.numeroEtapa {
    font-size: 2.81rem;
}
.fechaEtapa {
    font-size: 3.12rem;
    font-family: regular;
}
#bancosAutorizados{
    font-size: 3.45rem;
    margin: 0%;
}
#bancos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
#bancos img{
    width: 24.93rem;
    height: 10rem;
    margin: 0rem 3rem;
}
.parte5 {
    text-align: center;
}
#textPreguntas{
    font-size: 3.43rem;
    font-family: ligth;
    margin-top: 5rem;
}
.numeros{
    background-color: #157FFB;
    color: white;
    font-size: 1rem;
    border-radius: 60%;
    width: 3.9rem;
    height: 3.9rem;
    margin: auto;
    align-content: center;
    margin-top: 1rem;
}
.preguntas {
    font-size: 2.62rem;
    font-family: italica;
}
.respuestas {
    font-size: 2.18rem;
    font-family: ligth;
    text-align: center;
    padding: 0 20%;
}

#verMas{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family: ligth;
}
.parte6 {
    background-color: #157FFB;
    color: #fff;
    border-radius: 1.87rem;
    width: 90%;
    margin: auto;
    margin-bottom:3rem ;
    text-align: center;
    padding-bottom: 3rem;
}
.masPreguntas {
    font-size: 3.43rem;
    font-weight: bold;
    padding-top: 2rem;
}
.noDudes {
    font-size: 2.5rem;
    font-family: ligth;
}
.contactanos {
    width: 13.06rem;
    height: 3.13rem;
    display: flex;
    background-color: white;
    color: #000;
    border-radius: 1.87rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.parte7{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    background: #3864cc;
    align-items: center;
    justify-content: space-around;
}
#logoF{
    width: 17.9rem;
    height: 3.6rem;
}
#f1{
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
#location{
    width: 1.3rem;
    height: 1.8rem;   
}
#f3{
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
}
#phone{
    width: 1.8rem;
    height: 1.8rem;
}
@media only screen and (max-width:1100px) {
    .lado1P1{
        display: none;
    }
    .lado1P2{
        width:100%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .lado1P3 a{
        color: #20294b;
        text-decoration: none;
    }
    .lado1P3 p{
        margin: 0%
    }
    #check:checked ~ .lado1P3{
        margin-top: 11rem;
        display: grid;
        width: 100%;
        height:9rem;
        position: fixed;
        text-align: center;
        font-size: 1.7rem;
    }
}
@media only screen and (max-width:695px) {
    #check:checked ~ .lado1P3{
        margin-top: 5rem;
    }
    .principal{
        width: 100vw;
    }
    .parte1{
        width: 100vw;
        height: 5rem;
        flex-wrap: wrap;
    }
    #espacio{
        height: 5rem;
    }
    .parte1 a{
        font-size: 1rem;
        height: auto;
    }
    .govColombia {
        width: 10.813rem;
        height: 2.313rem;
    }
    .consultar{
        width: 7rem;
        height: 1.8rem;
    }
    .parte2{
        width: 100%;
        height: auto;
        flex-wrap:wrap ;
        text-align: center;
    }
    .parte2 div{
        width: 70vw;
        height: auto;
    }
    #envioFormulario{
        margin-left: 0.3rem;
    }
    .text1{
        padding: 0%;
    }
    #divicionP3{
        flex-wrap: wrap;
    }
    #etapas{
        padding-left: 0%;
        justify-content: center;
    }
    #text2{
        font-size: 2.43rem;
    }
    #parte2Lado2 {
        width: 100%;;
    }
    #text3{
        font-size: 1.5rem;
    }
    #queEs{
        font-size: 2.5rem;
    }
    .contenidoDivP3{
        width: auto;
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }
    #diseñoST{
        display: none;
    }
    .numeroEtapa {
        font-size: 2rem;
    }
    .fechaEtapa {
        font-size: 2rem;
        font-family: regular;
    }
    #bancos{
        align-content: center;
        object-fit: contain;
    }
    #bancos img{
        width: 10rem;
        height: 5rem;
        margin: 0rem 1rem;
    }
    .numeros{
        font-size: 0.8rem;
        border-radius: 60%;
        width: 2.8rem;
        height: 2.8rem;
    }
    #textPreguntas{
        font-size: 2.5rem;
    }
    .preguntas {
        font-size: 1.2rem;
        width: 95%;
    }
    .respuestas {
        font-size: 1.1rem;
        padding: 0;
        width: 95%;
    }
    #logoF{
        width: 6.9rem;
        height: 1.6rem;
        margin: 0 0.3rem;
    }
    #f1 {
        font-size: 0.6rem;
    }
    #f3 {
        font-size: 0.6rem;
    }
    #location{
        width: 0.9rem;
        height: 1.3rem;  
    }
    #phone{
        width: 1.3rem;
        height: 1.3rem;
    }
    .masPreguntas {
        color: #fff;
        font-size: 2rem;
    }
    .noDudes {
        font-size: 1rem;
        color: #fff;
    }
    .contactanos {
        width: 5.06rem;
        height: 1.13rem;
        font-size: 0.5rem;
    }
    .parte6{
        padding-bottom: 0.5rem;
    }
}